# CMake build and output files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
benchmark/benchmark_run.log
benchmark/*.csv
benchmark_ranking_and_sorting/*.csv
benchmark_ranking_and_sorting/*.log
benchmark_ranking_and_sorting/*.pdf
benchmark_ranking_and_sorting/*.png

# Output directories
/bin/
/build/
/lib/
/out/

# Compiled source files
*.o
*.obj
*.so
*.a
*.dll
*.lib
*.exe

# IDE specific files
.idea/
.vscode/
*.sln
*.vcxproj
*.vcxproj.filters
*.DS_Store
.misc/
openfhe-statistics/